h1 {
    font-family: 'Bangers', cursive;
    font-size: 700%;
    color: #ffffff;
}
h2 {
    padding-top: 5%;
    color: #7c7c7c;
}
h4, h3, p {
    color: white;
}
body {
    background-image: url(../images/dark-triangles.png)
}

.block {
    background-color: #2b2b2b;
    border: thin solid black;
}
.head {
    background-color: black;
}
.button {
    color: #fff;
    background-color: #5e5e5e;
    border-color: #1d1d1d;
}
.button-body {
    text-align: center;
    padding: 1% 1% 1% 1%;
}
